.movielst{
  border:solid 2px palevioletred;
  border: radius 1;
  margin: 10px;
  width: 20%;
  height: 25%;
}
h3{
  color:purple;
  text-align: center;
}
.Listmovie{
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
}
 
img{
 width:150px;
 display: block;
 margin-left: auto;
 margin-right: auto
}

